<div class='row'>
  <h2>Matching Tweets</h2>
  <ul class='list-unstyled tweet-list'>
    <% tweets.each do |tweet| %>
      <%= render partial: 'tweet', locals: {tweet: tweet} %>
    <% end %>
  </ul>
</div>
