---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="w1p15rWg6GELoBF8OgiDSshss", oauth_nonce="2cd19543984f7255790059911d1309b1",
        oauth_signature="8hjGLSM0XAPUJv67WfqHGxH%2F1kY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417387751", oauth_token="OAUTH_TOKEN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 30 Nov 2014 22:49:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 61c7a135fca6521723c699c11790d18a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1417388603'
      X-Transaction:
      - 78a284b1fdb94c74
    body:
      encoding: UTF-8
      string: '{"id":17945327,"id_str":"17945327","name":"Zach D","screen_name":"LastZactionHero","location":"Boulder,
        CO","profile_location":null,"description":"Cache rules everything around me.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":175,"friends_count":205,"listed_count":10,"created_at":"Sun
        Dec 07 18:38:21 +0000 2008","favourites_count":306,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":2610,"lang":"en","status":{"created_at":"Fri
        Nov 28 16:29:49 +0000 2014","id":538369179595063297,"id_str":"538369179595063297","text":"RT
        @Lons: We get ZERO updates on the status of interplanetary trade negotiations
        in this entire trailer! Probably saving the good stuff for\u2026","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Nov 28 16:10:45 +0000 2014","id":538364380715286528,"id_str":"538364380715286528","text":"We
        get ZERO updates on the status of interplanetary trade negotiations in this
        entire trailer! Probably saving the good stuff for later.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":118,"favorite_count":129,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":true,"lang":"en"},"retweet_count":118,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Lons","name":"Lon
        Harris","id":6516132,"id_str":"6516132","indices":[3,8]}],"urls":[]},"favorited":false,"retweeted":true,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/123697217\/n6809008_49910148_4643407_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/123697217\/n6809008_49910148_4643407_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 30 Nov 2014 22:49:12 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=LastZactionHero
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="w1p15rWg6GELoBF8OgiDSshss", oauth_nonce="8498f3160dad46efeaa7a8c1aa424343",
        oauth_signature="GhA2yLL49KVExyT3eSfXdFlF2qI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417387752", oauth_token="17945327-Lrurr7VSs55cbvl2deUylKV0sEzcakhHUsbdrJOiK",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 30 Nov 2014 22:49:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0b61af00b0b4e9d31f4f8844fe676830
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1417388604'
      X-Transaction:
      - ee38f70fb8c4b2fb
    body:
      encoding: UTF-8
      string: '{"users":[{"id":2871729748,"id_str":"2871729748","name":"alex brackin","screen_name":"alexbrackin2","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":44,"listed_count":0,"created_at":"Tue
        Nov 11 02:50:03 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"muting":false},{"id":2452874257,"id_str":"2452874257","name":"TeePolish","screen_name":"TeePolish","location":"Worldwide","profile_location":null,"description":"Design
        High Quality Screen Printed Tees for Your #Club and #Organization. Zero Risk.
        Zero Upfront Cost.We Directly Ship to Your Customers. You Keep The Profits.","url":"https:\/\/t.co\/Ps2C5onyil","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Ps2C5onyil","expanded_url":"https:\/\/www.CrowdT.com\/","display_url":"CrowdT.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":31365,"friends_count":37657,"listed_count":20,"created_at":"Sat
        Apr 19 09:35:04 +0000 2014","favourites_count":3,"utc_offset":10800,"time_zone":"Baghdad","geo_enabled":false,"verified":false,"statuses_count":789,"lang":"en","status":{"created_at":"Sat
        Nov 29 20:13:28 +0000 2014","id":538787849475481600,"id_str":"538787849475481600","text":"High
        Quality #Custom Printed #TeeShirt[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1458802094535025563&screen_name=LastZactionHero
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="w1p15rWg6GELoBF8OgiDSshss", oauth_nonce="69f827e6960eaa08acc1cb14b18d5618",
        oauth_signature="SoDq%2BSykjtP0h1Y5UTqJRiIOVmA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417387753", oauth_token="17945327-Lrurr7VSs[...]
[...]
