<div class='row'>
  <div class='col-md-6'>
    <h5>List updated hourly</h5>
  </div>
  <div class='col-md-6 text-right'>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= @selected_search_term || "All Search Terms" %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <% @search_terms.each do |search_term| %>
          <li>
            <%= link_to search_term,
                dashboard_path(search_term_id: search_term.id) %>
          </li>
        <% end %>
        <li role="presentation" class="divider"></li>
        <li>
          <%= link_to "All Search Terms",
              dashboard_path(search_term_id: nil) %>
        </li>
      </ul>
    </div>
  </div>
</div>

<ul class='list-unstyled tweet-list'>
  <% tweets.each do |tweet| %>
    <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
  <% end %>
</ul>
