<div class='row'>
  <h1>Tweets</h1>

  <% if @tweets.any? %>
    <p>These tweets were discovered by your <%= link_to "search terms" , search_terms_path %>.</p>
    <%= render partial: "tweet_list", locals: {tweets: @tweets} %>
  <% else %>
    <div class='well'>
      <h3 class='text-center'>You have not found any tweets!</h3>
      <p class='text-center'>Add <%= @search_terms.any? ? "some more" : "your first" %> <%= link_to "search terms", search_terms_path %> to get started.</p>
    </div>
  <% end %>
</div>
