<div class='container'>
  <h1>Weekly Reports</h1>

  <% if @successful %>
    <p>You have been unsubscribed.</p>
  <% else %>
    <p>We were not able to unsubscribe because your link is invalid.</p>
  <% end %>
</div>
